<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Controller Example</title>
</head>
<body>

<h4>Hi Quarto - Java Boot - React - Git - Scrum - Class</h4>

<p th:text=" ${session.todayDate} "  >  </p>


</br>

<p>sessionId:
<span th:text=" ${session.sessionId} "  >  </span></p>
<p>sessionCount:
<span th:text=" ${session.sessionCount} "  >  </span></p>
<p>requestCount:
<span th:text=" ${session.requestCount} "  >  </span></p>

</br>
<p>httpServletRequest headers:</p>
<p> <span th:text=" ${session.httpServletRequestHeaders} "  >  </span></p>

</br>
<p>Librarian:
<span th:text=" ${session.librarianId} "  >  </span></p>
<p>User:
<span th:text=" ${session.userId} "  >  </span></p>


</br>

<div th:if="${session.librarianId}">

    <p>
        <a th:href="@{/user/users}"> Go to user domain</a>
    </p>

    <p>
        <a th:href="@{/librarian/librarians}"> Go to librarian domain</a>
    </p>

    <p>
        <a th:href="@{/borrow/borrows}"> Go to borrow domain</a>
    </p>
</div>

<p>
    <a th:href="@{/book/books}"> Go to book domain</a>
</p>



</body>
</html>