<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Controller Example</title>
</head>
<body>

<h4>Hi Quarto - Java Boot - React - Git - Scrum - Class</h4>

<p th:text=" ${todayDate} "  >  </p>
<p th:text="#{welcome.message}"></p>

</br>

<p>sessionId:
<span th:text=" ${sessionId} "  >  </span></p>
<p>sessionType:
<span th:text=" ${sessionType} "  >  </span></p>
<p>sessionCount:
<span th:text=" ${sessionCount} "  >  </span></p>
<p>requestCount:
<span th:text=" ${requestCount} "  >  </span></p>

</br>
<p>httpServletRequest headers:</p>
<p> <span th:text=" ${httpServletRequest} "  >  </span></p>


</br>
<p>
    <a th:href="@{/user/users}"> Go to user domain</a>
</p>

<p>
    <a th:href="@{/librarian/librarians}"> Go to librarian domain</a>
</p>

<p>
    <a th:href="@{/book/books}"> Go to book domain</a>
</p>

<p>
    <a th:href="@{/borrow/borrows}"> Go to borrow domain</a>
</p>

</body>
</html>