<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Management</title>
</head>
<body>

<h4>Please Log in</h4>

<form   th:action="@{/home}"
        method="post">

  <label for="librarianSelection">Choose Librarian to simulate log in</label>

    <select id="librarianSelection" name="librarianIdFromSelect">
        <option th:each="librarian : ${librarians}"
                th:value="${librarian.librarianId}"
                th:text="${librarian.name + '-' + librarian.librarianId}"> Librarian </option>
    </select>
    <button type="submit"> log in as librarian</button>

</form>


</div>
</body>
</html>